* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    min-width: 1000px;
    height: 100%;
    background: url('../assignment2/bg.jpg') 0 0 no-repeat;
    background-size: auto;
    background-position:  center bottom;

}


.wrap {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

/* top contents */

#topwrap {
    min-height: 100px;
}

.toplogo {
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 0;
}

.toplogo a{
    display: block;
    width: 120px;
    height: 75px;
    overflow: hidden;
    padding-top: 75px;
    background: url('../Haitai/assignment/Haitaihtb2010.jpg') 0 0 no-repeat;
    background-size: 120px auto;
}


.topnavbar {
    display: flex;
    position: absolute;
    top: 0;
    right: 40px;
    list-style: none;
    font-size: 11px;
}
.topnavbar li {
    padding: 7px 20px;
}
.topnavbar li a {
    font-weight: 700;
    text-decoration: none;
    color: #ff9900;
}

.topnavbar li:last-child {
    font-size: 8px;
    font-weight: 700;
    padding-top: 9px;
    padding-right: 25px;
    border-left: 2px solid #ff8c27;
    border-right: 2px solid #ff8c27;
    border-bottom: 2px solid #ff8c27;
    border-radius: 0 0 10px 10px;
    background: url(../assignment2/selectbox.png) 0 0 no-repeat;
    background-position-x: 65px;
    background-position-y: 9px;
    background-size: auto;
}

.navbar {
    display: flex;
    align-items: center;
    min-width: 790px;
    min-height: 50px;
    position: absolute;
    top: 40px;
    left: 170px;
    font-size: 18px;
    border-radius: 5px;
    list-style: none;
    background: linear-gradient(#ff9d45,#ff7800);
}

.navbar li a{
    padding: 10px 50px;
    line-height: 18px;
    min-width: 155px;
    font-weight: 800;
    text-decoration: none;
    color: #fcffff;
}

.navbar li a:first-child {
    margin-left: 14px;
}

.navbar li a:hover {
    background-color: #ffffff;
    font-weight: 800;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(134, 134, 134);
    color: #ff8c27;
}

/* sidebar contents */

#aside_wrap {
    display: block;
    float: left;
    margin-top: 37px;
    margin-right: 20px;
    min-width: 150px;
}

h2 {
    padding: 25px 0;
    font-size: 54px;
    font-weight: 500;
    font-family: 'Nanum Brush Script', cursive;
}

.sidebar {
    list-style: none;
}

.sidebar li{
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar li:not(last-child) {
    margin-bottom: 7px;
}

.sidebar li a {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    color: #f7941e;
}

.sidebar li:hover {
    border-radius: 3px;
    box-shadow: 1px 1px 4px lightgray;
    background: url(../assignment2/marker_sidebar.jpg) no-repeat;
    background-size: auto;
    background-position: left center;
}

#aside_wrap::after {
    display: block;
    content: "";
    clear: both;
}


/* main contents */

#main_wrap {
    display: inline-block;
    width: 790px;
    min-height: 871px;
    margin-top: 46px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #ffffff;
}

section {
    padding: 60px;
}


.section_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #efefef;
}

.circle_h3 {
    padding-left: 28px;
    color: #464646;
    background: url(../assignment2/circle.png) 0 0 no-repeat;
    background-position: left center;
    background-size: auto;
}

.route {
    font-size: 11px;
    color: #c8c8c8;
}

.route a {
    color: #c8c8c8;
    text-decoration: none;
}

.route span {
    color: #f7941e;
}

.main_slogan {
    padding: 30px 0;
    font-size: 18px;
}

.main_slogan p {
    line-height: 24px;
    color: #9b9b9b;
}

.main_slogan2 p {
    font-size: 14px;
    word-spacing: -.96px;
    letter-spacing: -1px;
}

.strongstyle1 {
    line-height: 28px;
    font-size: 22px;
    color: #f7941e;
}

.strongstyle2 {
    line-height: 28px;
    font-size: 19px;
    text-align: center;
    word-spacing: -1px;
    letter-spacing: -1px;
    color: #5d5d5d;
}

.main_contents {
    display: flex;
    justify-content: center;
    min-width: 668px;
    min-height: 436px;
    padding: 3px 16px;
    background-color: #ececec;
}

.contents_block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 10px;
    color: #9b9b9b;
}

.contents_block:not(:last-child) {
    border-bottom: 1.5px dotted #e5e5e5;
}

.block1 {
    align-items: center;
}


.column_list {
    display: flex;
    flex-direction: column;
}

.square_box {
    width: 65px;
    height: 65px;
    padding: 13px 15px;
    font-size: 18px;
    color: #ffffff;
    background-color: #ffba00;
}

.colored2 {
    background-color: #ff9500;
}

.contents_block p {
    padding-left: 24px;
    padding-bottom: 24px;
    font-size: 11px;
}

.contents_block ul {
    margin-left: 24px;
    list-style: none;
    font-size: 11px;
    line-height: 17px;
    word-wrap: break-word;
}

.contents_graph {
    padding: 0;
    min-width: 670px;
    min-height: 450px;
    margin: 8px 0;
    background: url(../assignment2/graph.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn_container {
    margin-top: 26px;
    text-align: center;
}

.btn {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 27px;
    padding-right: 27px;
    border: 0;
    border-radius: 3px;
    box-shadow: .5px .5px 1.5px .5px #c6c6c6;
}

.btn:not(:last-child) {
    margin-right: 4px;
}

i {
    margin-right: 6px;
}

.btn1 {
    background-color: #ff9501;
}

.btn1 span, .btn1 i{
    color: #ffffff;
}

.btn2 {
    border: .5px solid #d3d3d3;
    background-color: #ffffff;
}

.btn2 span, .btn2 i {
    color: #ff9501;
}

.confirmBtn {
    width: 14px;
    vertical-align: bottom;
    margin-right: 6px;
}

.btn1-2 {
    text-align: center;
    padding-left: 17px;
    padding-right: 27px;
}

.btn2-2 {
    background-color: #ececec;
}

.btn2-2 span {
    color: #a0a0a0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #7f7f7f;
    font-size: 10px;
}

footer ul li{
    float: left;
    margin-left: 13px;
    list-style: none;
}

footer ul::after {
    display: block;
    content: "";
}

footer ul li::before {
    content: "|";
    padding-right: 10px;
    font-size: 10px;
    color: #c8c8c8;
    clear: both;
}

footer ul li:first-child::before {
    content: none;
}

footer ul li a {
    text-decoration: none;
    color: #7f7f7f;
}

.selectbox_contents {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selectbox_contents span {
    margin-right: 16px;
}

#tab_contents {
    border-top: 2px solid #ff9500;
    border-bottom: 2px solid #ececec;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
}


h4 {
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: 1.5px dotted #cacaca;
    color: #949494;
    font-size: 15px;
}

.tracker a  {
    color: #9b9b9b;
    text-decoration: none;
}

.con_box {
    padding: 15px 20px;
    background-color: #f4f4f4;
    margin-bottom:  20px;
}

.content_box {
    display: flex;
    flex-wrap: wrap;
}

.content_box2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.tracker {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1.5px;
    color: #9b9b9b;
}

.tracker:not(:last-child) {
    padding-right: 36px;
}

.tracker span {
    font-weight: 800;
    padding-right: 6px;
    color: #ff8416;
}

.tracker2 {
    padding: 4px 0;
}

.tracker2:not(:last-child) {
    padding-right: 50px;
}

.contents3 {
    height: 480px;
    font-size: 11px;
    overflow: auto;
    color: #949494;
}

.title_list {
    font-weight: 700;
}

.list_con {
    margin-top: 22px;
    line-height: 17px;
    letter-spacing: -.3px;
    word-spacing: -1px;
}

.color_orange {
    color: #ff9501;
    margin-bottom: 22px;
}

dt {
    font-weight: 700;
    line-height: 13px;
}

dd {
    margin-left: 3px;
    margin-bottom: 22px;
}

dd ol {
    padding-left: 10px;
    list-style: upper-roman;
}

dd ul li {
    list-style: none;
}

.tab_box {
    min-width: 670px;
    min-height: 500px;
}

.contents_input {
    display: none;
}

.contents_label {
    display: inline-block;
    padding: 8px 40px;
    margin-right: -2px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #c1c1c1;
}

.contents_label:hover {
    cursor: pointer;
}

.contents_input:checked + label {
    background-color: #ff9500;
    background-image: url('../assignment2/marker4.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
}

#tab_contents2 {
    border-top: 2px solid #ff9500;
    border-bottom: 2px solid #ececec;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

#tab_contents, #tab_contents2 {
    display: none;
}

#tab1:checked ~ #tab_contents, #tab2:checked ~ #tab_contents2 {
    display: block;
}

.section_top2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #efefef;
}

.section_top2 p {
    position: relative;
    left: -35px;
    font-size: 15px;
    text-align: left;
}

.main_slogan2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.box_main {
    margin-bottom: 18px;
}

.flow_box {
    display: flex;
    align-items: center;
    list-style: none;
}

.flow_box li {
    width: 175px;
    height: 80px;
    padding-top: 34px;
    padding-bottom: 24px;
    padding-left: 80px;
    text-align: left;
    letter-spacing: -1px;
    word-break: keep-all;
    font-size: 14px;
    color: #ffffff;
}

.block01 {
    background: url('../assignment2/block01.png') 0 0 no-repeat;
    background-position: -43px -33px;
}

.block02 {
    background: url('../assignment2/block02.png') 0 0 no-repeat;
    background-position: -43px -34px;
}

.block03 {
    background: url('../assignment2/block03.png') 0 0 no-repeat;
    background-position: -43px -34px;
}

.block04 {
    background: url('../assignment2/block04.png') 0 0 no-repeat;
    background-position: -43px -34px;
}

.form_contents {
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 23px;
    border: 2px solid #ececec;
}


.strong_span strong {
    font-size: 15px;
    color: #f9af56;
    padding: 8px 0;
}

#terms_form {
    display: inline-block;
    border-top: 1.5px dotted #dbdbdb;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    min-width: 622px;
    font-size: 11px;
    resize: none;
}

.chkbox {
    display: inline-block;
    min-width: 622px;
    font-size: 11px;
    text-align: right;
}

.wide_background {
    min-width: 660px;
    min-height: 436px;
    background-color: #ffffff;
}